{{!-- <p>Name: {{nameRu}}</p>
<p>Name: {{nameEn}}</p>
<p>ID: {{personId}}</p>
<p>Birthplace: {{birthplace}}</p>
<p>Birthplace: {{facts.[0]}}</p>
<img src="{{posterUrl}}" alt="Photo"> --}}






<div class="left_bar">
    <div class="styles_photo__Is7OJ">
        <a href="{{webUrl}}" class="">
            <img class="" alt="Брюс Уиллис" src="{{posterUrl}}">
        </a>
    </div>

    <div class="styles_folders">
        <div class="" data-tid="7a0a36a5">
            <div class="" data-tid="4a36b453">
                <button class="" type="button" title="Добавить в папку" aria-label="Добавить в папку">Добавить в
                    папку</button>
            </div>
            <form action="">
                <button class=""><span class="">Добавить в любимые звёзды</span></button>
            </form>
            
        </div>
    </div>
</div>


<div class="right_grid_bar">
    <div class="main_name">
        <div class="styles_wrapper__Cth9w">
            <h1 class="">{{nameRu}}</h1>
            <div class="">{{nameEn}}</div>
        </div>
    </div>

    <div class="about_person">
        <h3 class="">О персоне</h3>
        <div class="">
            <div class="">
                <div class="">Карьера</div>
                <div class="">
                    <div class="">
                        Актер
                    </div>
                    <div class="">
                        Продюсер
                    </div>
                    <div class="">
                        Сценарист
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">Рост</div>
                <div class="">
                    <div class="">{{growth}} м</div>
                </div>
            </div>
            <div class="">
                <div class="">Дата рождения</div>
                <div class="">
                    {{birthday}}
                </div>
            </div>
            <div class="">
                <div class="">Место рождения</div>
                <div class="">{{birthplace}}</div>
            </div>
            <div class="">
                <div class="">Жанры</div>
                <div class="">
                    боевик,триллер,комедия
                </div>
            </div>
            <div class="">
                <div class="">Супруга</div>
                <ul class="">

                </ul>
            </div>
            <div class="">
                <div class="">Всего фильмов</div>
                <div class=""><span>348</span>
                    <span>,1980-2023</span>
                </div>
            </div>
        </div>
    </div>



    
</div>